*{
  margin: 0;
  padding:0;
  box-sizing:border-box;
}
@media screen and (max-width:600px){
.nav-container{
  background-color:cadetblue;
  text-align:center;
}
.headline{
  background-color:teal;
  padding:10px;
  width:100%;
  
}
.navbar{
  width:100%;
  padding:10px 20px 20px 20px;
  
}
.navbar a{
  text-decoration:none;
  color:black;
  background-color:teal;
  margin:10px;
  padding:10px;
  border-radius: 5px;
  display: block;
}
}


 @media screen and (min-width:600px){
.nav-container{
  background-color: teal;
  
  overflow: hidden;
  padding:10px;
}
.headline{
  float:left;
  width:50%;
  background-color:;
 
  
}
.navbar{
  margin-top:5px;
  float: right;
  width:50%;
  background-color: ;
  
  
  
}
.navbar a{
  text-decoration: none;
  color:black;
  margin-right:30px;
  
  
}
}